<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <a href="/">MoBoo HOMEPAGE</a>
</head>
<body>
    
    <h1>Edit Movie</h1>
    <div class="flex-container">
        <form action ="/movies/<%= movies._id%>?_method=PUT" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required value="<%= movies.title %>" />
            <input type="text" name="director" placeholder="Director" value="<%= movies.director %>" />
            <input type="text" name="description" placeholder="Director" value="<%=movies.description%>" />
            <input type="text" name="release_date" placeholder="Release Date" value="<%=movies.release_date%>" />
            <input type="text" name="img" value="<%= movies.img%>"/>
            <button type="submit">Edit Movie</button>
          </form>  
          
    </div>
    
</body>
</html>

