<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <a href="/">MoBoo HOMEPAGE</a>
</head>
<body>
    
    <h1>Edit Book</h1>
    <div class="flex-container">
        <form action ="/bboks/<%= books._id%>?_method=PUT" method="post" id="createForm">
            <input type="text" name="title" placeholder="Title" required value="<%= books.title %>" />
            <input type="text" name="director" placeholder="author" value="<%= books.director %>" />
            <input type="text" name="description" placeholder="description" value="<%=books.description%>" />
            <input type="text" name="img" value="<%= books.img%>"/>
            <button type="submit">Edit Book</button>
          </form>   
    </div>
</body>

</html>