
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    
   
    <div class="index-div"> 
        
        
        <div class="container">  
        <div class="column">
            <a class="newlink" href="/movies/new">Add New Movie</a>
            <% for (let movie of movies) { %>
               <div class="card">
                <h2> <%=movie.title %> </h2>
                <a href="/movies/show/<%= movie._id %>">
                <img alt="<%= movies.director%>" src="<%=movie.img%>" 
                id="movie" />
            </div> 
            <%}%>
                 
        </div>  
        <div class="column2"> 
            <a class="newlink2"  href="/books/new">Add New Book</a> 
            <% for (let book of books) { %>
            <div class="card"> 
                <h2> <%=book.title %> </h2>
                <a href="/books/show/<%= book._id %>">
                <img alt="<%= book.author%>" src="<%=book.img%>" 
                id="book" />
            </div> 
               
             <%}%>
            
        </div>
    </div> 
    </div>
</body>
</html>