
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>MoBoo Library <a href="index.html"><img src="/public/images/moboologo.png"/></a></h1>
    <div class="container"> //dont know which proper div class to use//
        <div>
            <a class="" href="/movies">
                Movies
              
            <% for (let movie of movies) { %>
                <div>
                <h1> <%=movies.title %> </h1>
                <a href="/movies/show/<%= movie._id %>">
                <img alt="<%= movie.description%>" src="<%=movie.img%>" 
                id="movie">
                </a>
                
                </div>
            <%}%>
            </a>
        </div>  
        <div> 
            <a class="" href="/books">
              Books
            
            <% for (let book of books) { %>
                <div>
                <h1> <%=book.title %> </h1>
                <img alt="<%= book.title%>" src="<%=book.img%>" id="book">
                </div>
                <%}%>
            </a>
        </div>

    
    

    </div>
</body>
</html>