
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo App</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <h1>MoBoo Library</h1>
    <div> 
        <div class="column">
           </a>
            <a class="" href="/movies" Movies>
            <% for (let movie of movies) { %>
                
                <h2> <%=movie.title %> </h2>
                <a href="/movies/show/<%= movie._id %>">
                <img alt="<%= movies.director%>" src="<%=movie.img%>" 
                id="movie" height="300"/>
            <%}%>
                
        </div>  
        <div class="column2"> 
           </a>
            <a class="" href="/books" Books>
            <% for (let book of books) { %>
                
                <h2> <%=book.title %> </h2>
                <a href="/books/show/<%= book._id %>">
                <img alt="<%= book.author%>" src="<%=book.img%>" 
                id="book" height="300"/>
                
               
             <%}%>
            
        </div>
    </div>
</body>
</html>