<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MoBoo Library</title>
    <link rel="seed" href="./seed">
</head>
<body>
    
    <div>
    <p>
    <a href="/">MoBoo HOMEPAGE</a>
    
        <h1> <%=books.title %> </h1>
        <img alt="<%= books.title%>" src="<%=books.img%>" id="books">
        <h2><%=books.author%></h2>
        <h3><%=books.description%></h3> 
        
        </div>
    <a href="/books"></a>
   
    <a href="/books/<%= books._id %>/edit">EDIT</a>
    <br>
    <br>
    <form id="btn" action="/books/<%= books._id%>?_method=delete" method="post">
        <button type="submit" id="delete">Delete Movie</button>
    </form>
    </p>
</body>
</html>